.aboutThisHome {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: inherit;
}
.welcomeToBrightwoods {
  margin-block-start: 0;
  margin-block-end: 17px;
}
.livingSpace {
  font-family: var(--font-archivo);
}
.livingSpaceThisCharmingCa {
  margin-block-start: 0;
  margin-block-end: 17px;
}
.bedrooms {
  font-family: var(--font-archivo);
}
.bedroomsWith3BeautifullyA {
  margin-block-start: 0;
  margin-block-end: 17px;
}
.kitchenDining {
  font-family: var(--font-archivo);
}
.kitchenDiningOurFullyEq {
  margin-block-start: 0;
  margin-block-end: 17px;
}
.bathrooms {
  font-family: var(--font-archivo);
}
.bathrooms2ModernBathrooms {
  margin-block-start: 0;
  margin-block-end: 17px;
}
.outdoorSpace {
  font-family: var(--font-archivo);
}
.outdoorSpaceStepOutsideTo {
  margin-block-start: 0;
  margin-block-end: 17px;
}
.location {
  font-family: var(--font-archivo);
}
.locationLocatedJustMinutes {
  margin-block-start: 0;
  margin-block-end: 17px;
}
.hostedWithLove {
  font-family: var(--font-archivo);
}
.hostedWithLoveWeTakePrid {
  margin-block-start: 0;
  margin-block-end: 17px;
}
.comeBeOur {
  margin: 0;
}
.welcomeToBrightwoodsContainer {
  align-self: stretch;
  position: relative;
  line-height: 160%;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
.button {
  position: relative;
  letter-spacing: 0.46px;
  line-height: 26px;
  font-weight: 600;
  color: var(--accent);
  text-align: center;
  display: inline-block;
  min-width: 88px;
}
.readMore {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
  min-width: 539px;
}
.descriptionContent,
.detailsCards,
.listingDescription,
.readMore {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.detailsCards {
  flex-direction: column;
  padding: 0 var(--padding-120xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  min-width: 470px;
  font-size: var(--font-size-lg);
}
.descriptionContent,
.listingDescription {
  align-self: stretch;
}
.descriptionContent {
  flex-direction: row;
  gap: var(--gap-21xl);
  font-size: var(--font-size-base);
}
.listingDescription {
  border-bottom: 1px solid var(--light-grey-border);
  box-sizing: border-box;
  flex-direction: column;
  padding: 0 0 var(--padding-3xl);
  gap: var(--gap-xl);
}
.amenities {
  margin: 0;
  width: 780.8px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.amenitiessection1Parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.button1 {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.46px;
  line-height: 26px;
  font-weight: 600;
  font-family: var(--font-archivo);
  color: var(--dark);
  text-align: center;
}
.searchFlightsButton {
  cursor: pointer;
  border: 1px solid var(--dark);
  padding: var(--padding-4xs) var(--padding-lg);
  background-color: transparent;
  border-radius: var(--br-7xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.searchFlightsButton:hover {
  background-color: var(--color-darkslategray-200);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
}
.amenitiesContainer,
.amenitiesContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.amenitiesContent {
  align-self: stretch;
  gap: var(--gap-12xl);
  font-size: var(--font-size-base);
}
.amenitiesContainer {
  flex: 1;
  gap: var(--gap-xl);
  min-width: 547px;
  max-width: 100%;
}
.whereYoullBe {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 600;
  font-family: inherit;
}
.locationPinIcon {
  height: 11px;
  width: 9.3px;
  position: relative;
}
.theBridlePath {
  position: relative;
  display: inline-block;
  min-width: 109px;
}
.locationDetails,
.locationName {
  display: flex;
  justify-content: flex-start;
}
.locationName {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-7xs);
  font-size: var(--font-size-base);
}
.locationDetails {
  width: 326px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-8xs);
  max-width: 100%;
}
.suncloudIcon {
  height: 47px;
  width: 47px;
  position: relative;
}
.temperature,
.weatherDetail {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
}
.temperature {
  line-height: 150%;
  font-weight: 600;
  min-width: 38px;
}
.weatherDetail {
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  min-width: 93px;
  white-space: nowrap;
}
.weatherInfo,
.weatherInfo1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.weatherInfo1 {
  flex: 1;
  flex-direction: column;
  padding: 0;
  gap: var(--gap-11xs);
}
.weatherInfo {
  width: 128px;
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-base);
}
.c,
.sunIcon {
  position: relative;
}
.sunIcon {
  width: 40px;
  height: 40px;
}
.c {
  align-self: stretch;
  height: 11px;
  display: inline-block;
}
.cWrapper,
.sunParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cWrapper {
  align-self: stretch;
  align-items: center;
}
.sunParent {
  width: 40px;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.aug,
.sun {
  align-self: stretch;
  height: 11px;
  position: relative;
  display: inline-block;
}
.frameParent,
.sunGroup {
  flex-direction: column;
  justify-content: flex-start;
}
.sunGroup {
  width: 40px;
  display: flex;
  align-items: center;
}
.frameParent {
  display: none;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.suncloudIcon1 {
  width: 40px;
  height: 40px;
  position: relative;
}
.c1 {
  align-self: stretch;
  height: 11px;
  position: relative;
  display: inline-block;
}
.cContainer,
.suncloudParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cContainer {
  align-self: stretch;
  align-items: center;
}
.suncloudParent {
  width: 40px;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.aug1,
.mon {
  align-self: stretch;
  height: 11px;
  position: relative;
  display: inline-block;
}
.frameGroup,
.monParent {
  flex-direction: column;
  justify-content: flex-start;
}
.monParent {
  width: 40px;
  display: flex;
  align-items: center;
}
.frameGroup {
  display: none;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.c2,
.sunIcon1 {
  position: relative;
}
.sunIcon1 {
  width: 40px;
  height: 40px;
}
.c2 {
  align-self: stretch;
  height: 11px;
  display: inline-block;
}
.cFrame,
.sunContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cFrame {
  align-self: stretch;
  align-items: center;
}
.sunContainer {
  width: 40px;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.aug2,
.tue {
  align-self: stretch;
  height: 11px;
  position: relative;
  display: inline-block;
}
.frameContainer,
.tueParent {
  flex-direction: column;
  justify-content: flex-start;
}
.tueParent {
  width: 40px;
  display: flex;
  align-items: center;
}
.frameContainer {
  display: none;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.suncloudIcon2 {
  width: 40px;
  height: 40px;
  position: relative;
}
.c3 {
  align-self: stretch;
  height: 11px;
  position: relative;
  display: inline-block;
}
.cWrapper1,
.suncloudGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cWrapper1 {
  align-self: stretch;
  align-items: center;
}
.suncloudGroup {
  width: 40px;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.aug3,
.wed {
  align-self: stretch;
  height: 11px;
  position: relative;
  display: inline-block;
}
.frameDiv,
.wedParent {
  flex-direction: column;
  justify-content: flex-start;
}
.wedParent {
  width: 40px;
  display: flex;
  align-items: center;
}
.frameDiv {
  display: none;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.suncloudIcon3 {
  width: 40px;
  height: 40px;
  position: relative;
}
.c4 {
  align-self: stretch;
  height: 11px;
  position: relative;
  display: inline-block;
}
.cWrapper2,
.suncloudContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cWrapper2 {
  align-self: stretch;
  align-items: center;
}
.suncloudContainer {
  width: 40px;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.aug4,
.thu {
  align-self: stretch;
  height: 11px;
  position: relative;
  display: inline-block;
}
.frameParent1,
.thuParent {
  flex-direction: column;
  justify-content: flex-start;
}
.thuParent {
  width: 40px;
  display: flex;
  align-items: center;
}
.frameParent1 {
  display: none;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.c5,
.sunIcon2 {
  position: relative;
}
.sunIcon2 {
  width: 40px;
  height: 40px;
}
.c5 {
  align-self: stretch;
  height: 11px;
  display: inline-block;
}
.cWrapper3,
.sunParent1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cWrapper3 {
  align-self: stretch;
  align-items: center;
}
.sunParent1 {
  width: 40px;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.fri,
.sep {
  align-self: stretch;
  height: 11px;
  position: relative;
  display: inline-block;
}
.friParent {
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frameParent2,
.weather {
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent2 {
  display: none;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.weather {
  width: 154px;
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs) 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  text-align: center;
  font-size: var(--font-size-3xs);
}
.locationContent,
.mapIcon {
  align-self: stretch;
  max-width: 100%;
}
.locationContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  row-gap: 20px;
  gap: var(--gap-0);
}
.mapIcon {
  height: 248px;
  position: relative;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.mapPlaceholderIcon {
  width: 37px;
  height: 65px;
  position: absolute;
  margin: 0 !important;
  right: 12px;
  bottom: 161px;
  border-radius: var(--br-9xs);
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.locationContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-xl);
  max-width: 100%;
}
.location1 {
  width: 480px;
  flex-direction: column;
  min-width: 480px;
}
.listingDetailsSection,
.location1,
.locationAmenities {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.locationAmenities {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-lgi);
}
.listingDetailsSection {
  position: absolute;
  top: 603px;
  left: 50px;
  width: 1340px;
  flex-direction: column;
  gap: var(--gap-11xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--dark);
  font-family: var(--font-archivo);
}
@media screen and (max-width: 1100px) {
  .detailsCards {
    flex: 1;
    padding-right: 0;
    box-sizing: border-box;
  }
  .descriptionContent {
    flex-wrap: wrap;
  }
  .location1 {
    flex: 1;
  }
  .locationAmenities {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .detailsCards,
  .readMore {
    min-width: 100%;
  }
  .amenitiessection1Parent {
    flex-wrap: wrap;
  }
  .amenitiesContainer {
    min-width: 100%;
  }
  .locationContent {
    flex-wrap: wrap;
  }
  .location1 {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .aboutThisHome,
  .amenities,
  .whereYoullBe {
    font-size: var(--font-size-lgi);
  }
}
